*.exe
*.pkg
*build/
*build/*
*dist/
*dist/*
*Nuitka/
*Nuitka/*
Nuitka*/
Nuitka*/*
deployment/
deployment/*
__pycache__/*
*__pycache__/*
*__pycache__/
.idea
.idea/
.idea/*
.spyproject/
.spyproject/*
.spyproject
ab_meter_output/
ab_meter_output/*